/* FONTS */

@font-face {
	font-family: "Outfit";
	font-style: normal;
	font-weight: 300;
	font-display: swap;
	src: url(/public/assets/fonts/fonts.woff2) format("woff2");
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
	font-family: "Outfit";
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url(/public/assets/fonts/fonts.woff2) format("woff2");
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
	font-family: "Outfit";
	font-style: normal;
	font-weight: 600;
	font-display: swap;
	src: url(/public/assets/fonts/fonts.woff2) format("woff2");
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

:root {
	/* Primary */
	--soft-blue: hsl(218, 50%, 80%);
	--cyan: hsl(178, 100%, 50%);

	/* Neutral */
	--body-bg: hsl(217, 55%, 10%);
	--card-bg: hsl(214, 50%, 16%);
	--line: hsl(215, 32%, 27%);
	--white: hsl(0, 0%, 100%);
}

*, *::after, *::before {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html {
	font-size: 62.5%;
	color: hsl(215, 32%, 66%);
}

body {
	display: grid;
	min-height: 100vh;
	grid-template-rows: 1fr auto;

	width: 88%;
	margin: 0 auto;

	color: white;
	font-family: "Outfit", serif;
	background-color: var(--body-bg);
}

main {
	display: flex;
	justify-content: center;
	align-items: center;
}

.card {
	max-width: 328px;
	padding: 24px;
	border-radius: 16px;
	background-color: var(--card-bg);
}

.title {
	width: fit-content;
	margin-bottom: 12px;
	font-size: 2.2rem;
	font-weight: 600;
	color: var(--white);
	letter-spacing: 0.5px;
}

.description {
	font-size: 1.6rem;
	font-weight: 300;
	color: var(--soft-blue);
}

.price {
	font-size: 1.4rem;
	font-weight: 600;
	color: var(--cyan);
	letter-spacing: 0.5px;
}

.time {
	font-size: 1.4rem;
	font-weight: 300;
	color: var(--soft-blue);
}

.credits {
	font-size: 1.4rem;
	font-weight: 300;
	color: var(--soft-blue);
}

.user-name {
	color: var(--white);
}